<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          label="Имя файла"
          readonly
          :value="slug"
        />
      </v-col>
      <v-col>
        <v-subheader v-if="value.id">
          В базе данных
        </v-subheader>
        <v-subheader v-else>
          В текстовом файле
        </v-subheader>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-text-field
          label="Заголовок"
          v-model="title"
          :rules="titleRules"
        />
      </v-col>
      <v-col>
        <v-text-field
          label="Подзаголовок"
          v-model="subtitle"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-text-field
          label="Автор"
          v-model="author"
        />
      </v-col>
      <v-col>
        <v-text-field
          label="Перевод"
          v-model="translatedBy"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { required } from '@/helpers/validators';
import { WikiPage } from '@/helpers/wiki';

@Component
export default class WikiForm extends Vue {
  valid = true;

  titleRules = [
    required(),
  ];

  @Prop({ type: Object })
  value!: WikiPage;

  get author(): string {
    return this.value.author || '';
  }

  set author(value: string) {
    this.$emit('input', {
      ...this.value,
      author: value,
    });
  }

  get slug(): string {
    return this.title ? `${this.title}.md` : '';
  }

  get subtitle(): string {
    return this.value.subtitle || '';
  }

  set subtitle(value: string) {
    this.$emit('input', {
      ...this.value,
      subtitle: value,
    });
  }

  get title(): string {
    return this.value.title || this.value.slug || '';
  }

  set title(value: string) {
    this.$emit('input', {
      ...this.value,
      title: value,
    });
  }

  get translatedBy(): string {
    return this.value.translatedBy || '';
  }

  set translatedBy(value: string) {
    this.$emit('input', {
      ...this.value,
      translatedBy: value,
    });
  }
}
</script>
