<template>
  <v-card>
    <v-card-title v-if="title">
      {{ title }}
    </v-card-title>
    <v-list>
      <v-subheader v-if="subtitle">
        {{ subtitle }}
      </v-subheader>
      <v-list-item-group v-model="itemId">
        <v-list-item
          v-for="item in items"
          :key="item.id"
          :to="item.url"
          :value="item.id"
        >
          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list-item-group>
      <slot />
    </v-list>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

export interface ContentsItem {
  id: string;
  url?: string;
  title: string;
}

@Component
export default class ContentsList extends Vue {
  @Prop({ type: String })
  title!: string;

  @Prop({ type: String })
  subtitle!: string;

  @Prop({ type: Array })
  items!: ContentsItem[];

  value?: string;

  get itemId(): string | undefined {
    return this.value;
  }

  set itemId(value: string | undefined) {
    this.$emit('input', value);
  }
}
</script>
