<template>
  <v-app-bar
    app
    :src="backgroundImg"
  >
    <v-app-bar-nav-icon>
      <v-btn
        icon
        @click="toggleSideBar"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar-nav-icon>

    <v-avatar
      v-if="img"
    >
      <img
        :src="img"
        alt=""
      />
    </v-avatar>

    <v-toolbar-title>{{ title }}</v-toolbar-title>

    <v-spacer></v-spacer>

    <template v-if="user">
      <v-text-field
        hide-details
        append-outer-icon="mdi-magnify"
        single-line
        class="mx-2"
      >
        <template v-slot:append-outer>
          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </template>
      </v-text-field>

      <v-btn
        v-for="item in items"
        :key="item.id"
        :to="item.to"
        icon
        class="mx-2"
      >
        <v-icon>{{ item.icon }}</v-icon>
      </v-btn>

      <notifications
        v-model="user.notifications"
      />

      <v-btn
        v-if="user"
        :to="user.profileLink"
        icon
        class="mx-2"
      >
        <v-avatar>
          <img
            :src="user.avatar"
            :alt="user.name"
          />
        </v-avatar>
      </v-btn>
    </template>
    <template v-else>
      <v-btn
        to="/login"
        class="mx-2"
      >
        Войти
      </v-btn>
    </template>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { User } from '@/helpers/user';

@Component({
  components: {
    Notifications: () => import('@/components/core/Notifications.vue'),
  },
})
export default class MainBar extends Vue {
  @Prop({ type: String, default: '' })
  title!: string;

  @Prop({ type: String, default: '' })
  img!: string;

  @Prop({ type: String, default: '' })
  backgroundImg!: string;

  @Prop({ type: Object, default: null })
  user!: User | null;

  items = [
    {
      id: 1,
      icon: 'mdi-view-dashboard',
      to: '/',
    },
  ];

  toggleSideBar() {
    this.$emit('toggleSideBar');
  }
}
</script>

<style scoped>

</style>
