<template>
  <v-menu
    offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <v-badge
        v-if="value && value.length > 0"
        color="error"
        bordered
        overlap
        offset-x="32"
        offset-y="32"
      >
        <template v-slot:badge>
          {{ value.length }}
        </template>
        <v-btn
          v-bind="attrs"
          v-on="on"
          icon
          class="mx-2"
        >
          <v-icon>mdi-bell</v-icon>
        </v-btn>
      </v-badge>
      <v-btn
        v-else
        v-bind="attrs"
        v-on="on"
        icon
        class="mx-2"
        :disabled="!value"
      >
        <v-icon>mdi-bell</v-icon>
      </v-btn>
    </template>

    <v-list v-if="value">
      <v-list-item
        v-for="item in value"
        :key="item.id"
        :to="item.link"
      >
        <v-list-item-title>{{ item.message }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { Notification } from '@/helpers/notification';

@Component
export default class Notifications extends Vue {
  @Prop({ type: Array, default: [] })
  value!: Notification[] | null;
}
</script>
