<template>
  <v-card flat>
    <v-card-title v-if="caption">
      <h2>{{ caption }}</h2>
    </v-card-title>
    <v-card-subtitle
      v-if="subtitle"
      class="subtitle-2"
      v-text="subtitle"
    />
    <v-container>
      <v-card-text
        v-if="author"
        class="subtitle-1"
      >
        <strong>Автор:</strong> {{ author }}
      </v-card-text>
      <v-card-text
        v-if="translatedBy"
        class="subtitle-1"
      >
        <strong>Перевод:</strong> {{ translatedBy }}
      </v-card-text>
      <v-card-text
        v-html="content"
      />
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class TextCard extends Vue {
  @Prop({ default: '' })
  author!: string;

  @Prop({ default: '' })
  caption!: string;

  @Prop({ default: '' })
  content!: string;

  @Prop({ default: '' })
  subtitle!: string;

  @Prop({ default: '' })
  translatedBy!: string;
}
</script>

<style>
.v-card__text h1, .v-card__text h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
</style>
