<template>
  <text-card
    :author="author"
    :caption="caption"
    :content="text"
    :subtitle="subtitle"
  />
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  Prop,
  Watch,
} from 'vue-property-decorator';
import {
  mapActions,
  mapState,
} from 'vuex';
import markdown from '@/helpers/markdown';
import { WikiPage } from '@/helpers/wiki';

@Component({
  components: {
    TextCard: () => import('@/components/core/TextCard.vue'),
  },
  computed: {
    ...mapState([
      'wikiPage',
    ]),
  },
  methods: {
    ...mapActions(['fetchWikiPage']),
  },
})
export default class Wiki extends Vue {
  @Prop({ default: 'index' })
  articleId!: string;

  @Prop({ default: '' })
  caption!: string;

  @Prop({ default: null })
  pageMeta!: WikiPage;

  wikiPage!: string | null;

  fetchWikiPage!: (pageId: string) => string | null;

  @Watch('articleId')
  async onArticleId(value: string) {
    await this.fetchWikiPage(value);
  }

  get author(): string {
    return this.pageMeta ? this.pageMeta.author : '';
  }

  get subtitle(): string {
    return this.pageMeta ? this.pageMeta.subtitle : '';
  }

  get text(): string {
    const article = this.wikiPage || '';
    const raw = article.replace(/\[(.*)]\(\.\/(.*)\)/gi, '[$1](/#/wiki/$2)');
    return markdown.render(raw);
  }

  get translatedBy(): string {
    return this.pageMeta ? this.pageMeta.translatedBy : '';
  }

  async mounted() {
    await this.fetchWikiPage(this.articleId);
  }
}
</script>
