<template>
  <v-card
    flat
  >
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Персонаж</v-card-title>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  readonly
                  label="Имя"
                  v-model="character.name"
                />
                <v-textarea
                  readonly
                  label="Описание"
                  v-model="character.description"
                />
              </v-col>
              <v-col md="2">
                <v-text-field
                  readonly
                  label="Обновления"
                  v-model="character.updates"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Аспекты</v-card-title>
          <v-container v-if="character.aspects">
            <v-text-field
              v-if="character.aspects.length > 0"
              readonly
              label="Концепция"
              v-model="character.aspects[0]"
            />
            <v-text-field
              v-if="character.aspects.length > 1"
              readonly
              label="Проблема"
              v-model="character.aspects[1]"
            />
            <template
              v-if="character.aspects.length > 2"
            >
              <v-text-field
                v-for="(aspect, aspectId) in character.aspects.slice(2)"
                :key="aspectId"
                readonly
                label="Аспект"
                v-model="character.aspects[aspectId]"
              />
            </template>
          </v-container>
        </v-card>
      </v-col>
      <v-col>
        <v-card>
          <v-card-title>Навыки</v-card-title>
          <v-container v-if="character.skills && character.skills.length > 0">
            <v-text-field
              v-for="(skill, skillId) in character.skills"
              :key="skillId"
              readonly
              label="Навык"
              v-model="character.skills[skillId]"
            />
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Дополнения</v-card-title>
          <v-container>
            <v-textarea
              readonly
              label="Дополнения"
              v-model="character.additional"
            />
          </v-container>
        </v-card>
      </v-col>
      <v-col>
        <v-card>
          <v-card-title>Трюки</v-card-title>
          <v-container>
            <v-textarea
              readonly
              label="Трюки"
              v-model="character.tricks"
            />
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Стресс</v-card-title>
          <v-container>
            <v-text-field
              readonly
              label="Стресс"
              v-model="character.stress"
            />
          </v-container>
        </v-card>
      </v-col>
      <v-col>
        <v-card>
          <v-card-title>Последствия</v-card-title>
          <v-container>
            <v-text-field
              readonly
              label="Последствия"
              v-model="character.consequences"
            />
          </v-container>
        </v-card>
      </v-col>
    </v-row>

    <v-divider />

    <v-layout wrap>
      <v-flex
        md6
      >
        <v-container>
          <v-row>
            <v-col md="6">
              <v-text-field
                label="Команда"
              />
            </v-col>
            <v-col md="6">
              <v-text-field
                label="Кличка"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12">
              <v-text-field
                label="Имя"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12">
              <v-text-field
                label="Внешность"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12">
              <v-text-field
                label="Происхождение"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12">
              <v-text-field
                label="Прошлое"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12">
              <v-text-field
                label="Страсть / Благодетель"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="4">
              <v-text-field
                label="Стресс"
              />
            </v-col>
            <v-col md="4">
              <v-text-field
                label="Травмы"
              />
            </v-col>
            <v-col md="4">
              <v-text-field
                label="Травма"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card>
                <v-card-title>Повреждения</v-card-title>
                <v-container>
                  <v-row>
                    <v-col>
                      3
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      2
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      1
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
            <v-col md="2">
              <v-row>
                <v-col>
                  <v-card>
                    <v-card-title>Лечение</v-card-title>
                    <v-container>
                      <v-progress-circular :value="0" />
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-card>
                    <v-card-title>Защита</v-card-title>
                    <v-container>
                      <v-radio-group>
                        <v-radio label="Доспех" />
                        <v-radio label="Тяжелый" />
                        <v-radio label="Особая" />
                      </v-radio-group>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-textarea
                label="Заметки"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card>
                <v-card-title>Опыт</v-card-title>
                <v-container>
                  <v-card-text>
                    <p>При отчаянной проверке навыка отмечай опыт в соответствующей ему
                      характеристике.</p>
                    <p>В конце встречи отметь в любой характеристике или шкале талантов за каждый
                      элемент из списка ниже 1 пункт опыта, если событие произошло хотя бы раз,
                      или 2 пункта опыта, если многократно.</p>
                  </v-card-text>
                  <ul>
                    <li>Ты пытался решить проблему знаниями или магическими силами.</li>
                    <li>Ты выражал свои убеждения, цели, происхождение или прошлое.</li>
                    <li>Ты сталкивался с проблемами из-за своей страсти или травм.</li>
                  </ul>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-flex>
      <v-flex
        md4
      >
        <v-container>
          <h1>Мистик</h1>
          <v-row>
            <v-col>
              <v-card>
                <v-card-title>Таланты</v-card-title>
                <v-container>
                  <v-checkbox label="Принуждение" />
                  <v-checkbox label="Буря" />
                  <v-checkbox label="Железная воля" />
                  <v-checkbox label="Магическая защита" />
                  <v-checkbox label="Оккультист" />
                  <v-checkbox label="Призрачный разум" />
                  <v-checkbox label="Ритуал" />
                  <v-checkbox label="Странные методы" />
                  <v-checkbox label="Необычный" />
                  <v-checkbox label="Необычный" />
                  <v-checkbox label="Необычный" />
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6">
              <v-card>
                <v-card-title>Опасные друзья и недруги</v-card-title>
                <v-container>
                  <v-row>
                    <v-col>
                      <v-checkbox label="+" />
                    </v-col>
                    <v-col>
                      <v-checkbox label="-" />
                    </v-col>
                    <v-col>
                      <v-text-field label="Имя" />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-checkbox label="+" />
                    </v-col>
                    <v-col>
                      <v-checkbox label="-" />
                    </v-col>
                    <v-col>
                      <v-text-field label="Имя" />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-checkbox label="+" />
                    </v-col>
                    <v-col>
                      <v-checkbox label="-" />
                    </v-col>
                    <v-col>
                      <v-text-field label="Имя" />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-checkbox label="+" />
                    </v-col>
                    <v-col>
                      <v-checkbox label="-" />
                    </v-col>
                    <v-col>
                      <v-text-field label="Имя" />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-checkbox label="+" />
                    </v-col>
                    <v-col>
                      <v-checkbox label="-" />
                    </v-col>
                    <v-col>
                      <v-text-field label="Имя" />
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
            <v-col md="6">
              <v-card>
                <v-card-title>Предметы</v-card-title>
                <v-container>
                  <v-checkbox label="Необычный" />
                  <v-checkbox label="Необычный" />
                  <v-checkbox label="Необычный" />
                  <v-checkbox label="Необычный" />
                  <v-checkbox label="Необычный" />
                  <v-checkbox label="Необычный" />
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="4">
              <v-card>
                <v-card-title>Командная работа</v-card-title>
                <v-container></v-container>
              </v-card>
            </v-col>
            <v-col>
              <v-card>
                <v-card-title>Планирование и расклад</v-card-title>
                <v-container></v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-flex>
      <v-flex
        md2
      >
        <v-card>
          1
        </v-card>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Watch } from 'vue-property-decorator';
import {
  mapActions,
  mapState,
} from 'vuex';
import {
  Character,
  CharacterId,
} from '@/helpers/character';

@Component({
  computed: {
    ...mapState('party', [
      'party',
      'character',
    ]),
  },
  methods: {
    ...mapActions('party', [
      'fetchCharacter',
    ]),
  },
})
export default class CharacterSheet extends Vue {
  character!: Character | null;

  fetchCharacter!: (payload: CharacterId) => Character | null;

  headers = [];

  items = [];

  tabs = null;

  list = [
    '1',
    '2',
    '3',
  ];

  get partyId(): string | undefined {
    return this.$route.params.partyId;
  }

  get characterId(): string | undefined {
    return this.$route.params.characterId;
  }

  complete(value: number) {
    console.log(this.tabs, value);
  }

  async getCharacter() {
    if (!this.partyId || !this.characterId) {
      return;
    }
    await this.fetchCharacter({
      partyId: this.partyId,
      characterId: this.characterId,
    });
  }

  @Watch('$route')
  async onRoute() {
    await this.getCharacter();
  }

  async mounted() {
    await this.getCharacter();
  }
}
</script>

<style scoped>

</style>
