<template>
  <v-container
    fill-height
    container--fluid
    grid-list-xl
  >
    <v-row>
      <v-col
        offset-md="2"
        md="8"
      >
        <v-card>
          <wiki-page
            caption="Игры"
            article-id="Игры.md"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
  components: {
    WikiPage: () => import('@/components/core/WikiPage.vue'),
  },
})
export default class Games extends Vue {}
</script>
