<template>
  <v-card>
    <v-container>
      <v-card>
        <wiki-page
          v-if="party"
          :caption="party.name"
          article-id="index.md"
          class="my-3"
        />
      </v-card>

      <v-card class="my-3">
        {{ party}}
      </v-card>

      <template v-if="party && party.characters.length > 0">
        <v-card
          v-for="character in party.characters"
          :key="character.id"
          class="my-3"
        >
          {{ character }}
        </v-card>
      </template>

      <router-view />
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  mapActions,
  mapState,
} from 'vuex';
import { Watch } from 'vue-property-decorator';
import { Party } from '@/helpers/party';

@Component({
  components: {
    ContentsList: () => import('@/components/core/ContentsList.vue'),
    WikiPage: () => import('@/components/core/WikiPage.vue'),
  },
  computed: {
    ...mapState('party', [
      'party',
    ]),
  },
  methods: {
    ...mapActions('party', [
      'fetchParty',
    ]),
  },
})
export default class PartySheet extends Vue {
  party!: Party | null;

  fetchParty!: (partyId: string) => Party | null;

  get partyId(): string | null {
    return this.$route.params.partyId;
  }

  get characterId(): string | null {
    return this.$route.params.characterId;
  }

  get items() {
    return this.party && this.party.characters && this.party.characters.map((character) => ({
      id: character.id,
      title: character.name,
      url: `/party/${this.party ? this.party.id : ''}/${character.id}`,
    }));
  }

  async getParty() {
    if (!this.partyId) {
      return;
    }
    await this.fetchParty(this.partyId);
  }

  @Watch('$route')
  async onRoute() {
    await this.getParty();
  }

  async mounted() {
    await this.getParty();
  }
}
</script>
