<template>
  <v-container
    fill-height
    container--fluid
    grid-list-xl
  >
    <v-row>
      <v-col
        md="2"
      >
        <contents-list
          caption="Команды"
          :items="items"
        />
      </v-col>
      <v-col
        md="2"
      >
        <contents-list
          v-if="$route.params.partyId && party"
          caption="Персонажи"
          :items="characters"
        />
      </v-col>
      <v-col>
        <router-view />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  mapActions,
  mapState,
} from 'vuex';
import { Party } from '@/helpers/party';

@Component({
  components: {
    ContentsList: () => import('@/components/core/ContentsList.vue'),
  },
  computed: {
    ...mapState('party', [
      'parties',
      'party',
    ]),
  },
  methods: {
    ...mapActions('party', [
      'fetchParties',
      'fetchParty',
    ]),
  },
})
export default class PartyPage extends Vue {
  parties!: Party[] | null;

  party!: Party | null;

  fetchParties!: () => Party[] | null;

  get items() {
    return this.parties && this.parties.map((party) => ({
      id: party.id,
      title: party.name,
      url: `/party/${party.id}`,
    }));
  }

  get characters() {
    return this.party && this.party.characters && this.party.characters.map((character) => ({
      id: character.id,
      title: character.name,
      url: `/party/${this.party ? this.party.id : ''}/${character.id}`,
    }));
  }

  async mounted() {
    await this.fetchParties();
  }
}
</script>
