<template>
  <v-card>
    <v-toolbar>
      <v-toolbar-title>
        {{ articleId || 'Статьи' }}
      </v-toolbar-title>

      <v-spacer />

      <v-btn
        icon
        title="Редактировать"
        :to="`/wiki/${articleId}/edit`"
      >
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-btn
        icon
        title="Добавить"
        to="/wiki/add"
      >
        <v-icon>mdi-pencil-plus</v-icon>
      </v-btn>
      <v-btn
        icon
        title="Удалить"
        :disabled="!articleId"
        @click="removeArticle"
      >
        <v-icon>mdi-pencil-remove</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container>
      <wiki-page
        v-if="articleId"
        :article-id="articleId"
        :caption="article && article.title"
        :page-meta="article"
      />
      <wiki-page
        v-else
        caption="Статьи"
        article-id="index.md"
      />
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  mapActions, mapState,
} from 'vuex';
import { WikiPage } from '@/helpers/wiki';

@Component({
  components: {
    WikiPage: () => import('@/components/core/WikiPage.vue'),
  },
  computed: {
    ...mapState(['wikiPages']),
  },
  methods: {
    ...mapActions((['fetchWikiPages'])),
  },
})
export default class WikiView extends Vue {
  fetchWikiPages!: () => WikiPage[] | null;

  wikiPages!: WikiPage[] | null;

  get articleId(): string {
    return `${this.$route.params.path || 'index'}.md`;
  }

  get article(): WikiPage | null {
    return this.articleId
      && this.wikiPages
      && this.wikiPages.find((page) => (page.slug === this.articleId));
  }

  async removeArticle() {
    await this.fetchWikiPages();
  }
}
</script>
