<template>
  <v-container
    fill-height
    container--fluid
    grid-list-xl
  >
    <v-row>
      <v-col
        md="2"
      >
        <contents-list
          :title="title"
          :subtitle="subtitle"
          :items="wikiPages"
        />
      </v-col>
      <v-col>
        <router-view />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  mapActions,
  mapState,
} from 'vuex';
import { WikiPage } from '@/helpers/wiki';

@Component({
  components: {
    ContentsList: () => import('@/components/core/ContentsList.vue'),
    WikiPage: () => import('@/components/core/WikiPage.vue'),
  },
  computed: {
    ...mapState(['wikiPages']),
  },
  methods: {
    ...mapActions((['fetchWikiPages'])),
  },
})
export default class Wiki extends Vue {
  title = 'Статьи';

  subtitle = 'Подборка статей о ролевых играх';

  wikiPages!: WikiPage[] | null;

  fetchWikiPages!: () => WikiPage[] | null;

  get articleId(): string {
    return `${this.$route.params.path || 'index'}.md`;
  }

  async removeArticle() {
    await this.fetchWikiPages();
  }

  async mounted() {
    await this.fetchWikiPages();
  }
}
</script>
