<template>
  <v-card>
    <v-container>
      <v-form
        ref="wikiForm"
        v-model="valid"
      >
        <wiki-form
          v-model="value"
        />
      </v-form>

      <wiki-page
        v-if="articleId"
        :article-id="articleId"
      />

      <v-card-actions>
        <v-spacer />

        <v-btn
          color="success"
          @click="save"
        >
          Сохранить
        </v-btn>

        <v-btn
          color="error"
          @click="reset"
        >
          Отменить
        </v-btn>
      </v-card-actions>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Watch } from 'vue-property-decorator';
import {
  mapActions, mapState,
} from 'vuex';
import { WikiPage } from '@/helpers/wiki';

@Component({
  components: {
    WikiPage: () => import('@/components/core/WikiPage.vue'),
    WikiForm: () => import('@/components/forms/WikiForm.vue'),
  },
  computed: {
    ...mapState(['wikiPages']),
  },
  methods: {
    ...mapActions(([
      'fetchWikiPages',
      'saveWikiPage',
    ])),
  },
})
export default class WikiView extends Vue {
  wikiPages!: WikiPage[] | null;

  fetchWikiPages!: () => WikiPage[] | null;

  saveWikiPages!: (page: WikiPage) => any;

  valid = true;

  value: WikiPage = {};

  get articleId(): string | null {
    return this.$route.params.path ? `${this.$route.params.path || 'index'}.md` : null;
  }

  updateValue() {
    const article = this.articleId
      && this.wikiPages
      && this.wikiPages.find((page) => (page.slug === this.articleId));
    this.value = article ? { ...article } : {};
  }

  @Watch('wikiPages')
  onWikiPages() {
    this.updateValue();
  }

  @Watch('$route')
  onRoute() {
    this.updateValue();
  }

  async save() {
    this.$refs.wikiForm.validate();
    const page = await this.saveWikiPage(this.value);
    await this.fetchWikiPages();
    if (page && page.slug) {
      await this.$router.push(`/wiki/${page.slug}`);
    }
  }

  reset() {
    this.$refs.wikiForm.reset();
    this.$router.push(this.articleId ? `/wiki/${this.articleId}` : '/wiki/index.md');
  }

  mounted() {
    this.updateValue();
  }
}
</script>
